html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
section {
  width: 100vw;
  height: calc(100% - 12px);
}

section main {
  width: 80%;
  /* background: red; */
  margin: auto;
}

.sel-file {
  position: absolute;
  top: -10000px;
}
